.jumbotron{
	background-color: #3282B8;
	color: white;
	margin-top: 50px;
	height: 250px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: #1B262C;
	margin-bottom: 0px;
	margin-top: 10px; 
	color: white;
}

.cardhotel{
	flex: 1 20%;
	padding: 2px 5px 5px 5px;
	background-color: #e3f2fd;
	margin-bottom: 10px;
}

.bajaboton{
	width: 100%;
	font-size: 15px;
	/*border-radius: 0px;  Dejo la evidencia pero no lo aplico.
	Me agradan las esquinas redondas ;))*/
	background-color: white;
}

.espacioIcon{
	padding-right: 10px;
}

.oi-star{
	color: orange; /*Asignamos color a las estrellas*/
}

.img-fluid{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card-img-top{
	display: block;
	margin: 10px 10px 10px 10px;
	width: 50%;
}

.tab-content{
	padding-top: 10px;
}

#carruselControl{
	margin-top: 50px;
}

.carousel-control-prev-icon{
	background-color: gray;
}

.carousel-control-next-icon{
	background-color: gray;
}