$nuevoColor: #990000;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{
	background-color: $nuevoColor;
	color: white;
	@include margenes(50px, 20px);
	height: 250px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: $nuevoColor;	
	@include margenes(10px, 0px);
	color: white;
}

.cardhotel{
	flex: 1 20%;
	padding: 2px 5px 5px 5px;
	background-color: #e3f2fd;
	@include margenes(0px, 10px);
}

.bajaboton{
	width: 100%;
	font-size: 15px;	
	background-color: white;
}

.espacioIcon{
	padding-right: 10px;
}

.oi-star{
	color: orange; 
}

.img-fluid{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.card-img-top{
	display: block;
	margin: 10px 10px 10px 10px;
	width: 50%;
}

.tab-content{
	padding-top: 10px;
}

#carruselControl{
	margin-top: 50px;
}

.carousel-control-prev-icon{
	background-color: gray;
}

.carousel-control-next-icon{
	background-color: gray;
}