.jumbotron {
  background-color: #990000;
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
  height: 250px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #993399;
  margin-top: 10px;
  margin-bottom: 0px;
  color: white; }

.cardhotel {
  flex: 1 20%;
  padding: 2px 5px 5px 5px;
  background-color: #e3f2fd;
  margin-top: 0px;
  margin-bottom: 10px; }

.bajaboton {
  width: 100%;
  font-size: 15px;
  background-color: white; }

.espacioIcon {
  padding-right: 10px; }

.oi-star {
  color: orange; }

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.card-img-top {
  display: block;
  margin: 10px 10px 10px 10px;
  width: 50%; }

.tab-content {
  padding-top: 10px; }

#carruselControl {
  margin-top: 50px; }

.carousel-control-prev-icon {
  background-color: gray; }

.carousel-control-next-icon {
  background-color: gray; }
